.gameArea {
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 2px lightgray solid;
    margin: 20px auto;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    border-bottom: 2px solid lightgrey;
    font-weight: bold;
    line-height: normal;
    margin-top: -5px;
    background-color: darkgrey;
}