.gameArea {
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 4px solid yellow;
    /*    border: 4px solid red; */
    margin: 20px auto;
}
.score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    border-bottom: 4px solid red;
    font-weight: bold;
    line-height: normal;
    margin-top: -5px;
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    border-bottom: 4px solid green;
    font-weight: bold;
    line-height: normal;
    margin-top: -500px;
}
/* Blinky ~~~~~~~~~~~~~~~~ */ 
.path1 {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.path1::after {
	content: '';
	position: absolute;
	display: block;
	border-top: 12px dotted #fff;
	width: 90%;
	top: 50%;
	left: 5%;
	margin-top: -6px;
}

.pacman1 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: -20%;
	animation: moveForward 5s linear infinite;
	animation-delay: .9s;
}

.pacman1::before,
.pacman1::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: solid 30px yellow;
	margin-top: -30px;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: mouthTop 0.7s ease infinite;
}

.pacman1::after {
	border-color: yellow;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: mouthBottom 0.7s ease infinite;
}

.ghost1 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 20%;
	width: 60px;
	height: 70px;
	margin-top: -35px;
	background-color: red;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	animation: moveForward 5s linear infinite, .4s linear infinite;
}

.ghost1::before,
.ghost1::after {
	content: '';
	position: absolute;
	background-color: white;
	width: 20px;
	height: 25px;
	border-radius: 100%;
	top: 15px;
	left: 4px;
}

.ghost1::after {
	left: 28px;
}

.eyes1::before,
.eyes1:after {
	content: '';
	position: absolute;
	background-color: blue;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	top: 25px;
	left: 5px;
	z-index: 99;
}

.eyes1::after {
	left: 30px;
}

.skirt1,
.skirt1::before,
.skirt1::after {
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px#333;
	border-top-color: transparent;
	bottom: -10px;
}

.skirt1::before {
	content: '';
	left: 10px;
}

.skirt1::after {
	content: '';
	left: 30px;
}
/* Pinky ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.path2 {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.path2::after {
	content: '';
	position: absolute;
	display: block;
	border-top: 12px dotted #fff;
	width: 90%;
	top: 50%;
	left: 5%;
	margin-top: -6px;
}

.pacman2 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: -20%;
	animation: moveForward 6s linear infinite;
	animation-delay: 1.1s;
}

.pacman2::before,
.pacman2::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: solid 30px yellow;
	margin-top: -30px;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: mouthTop 0.7s ease infinite;
}

.pacman2::after {
	border-color: yellow;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: mouthBottom 0.7s ease infinite;
}

.ghost2 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 20%;
	width: 60px;
	height: 70px;
	margin-top: -35px;
	background-color: pink;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	animation: moveForward 6s linear infinite, 0.4s linear infinite;
}

.ghost2::before,
.ghost2::after {
	content: '';
	position: absolute;
	background-color: white;
	width: 20px;
	height: 25px;
	border-radius: 100%;
	top: 15px;
	left: 4px;
}

.ghost2::after {
	left: 28px;
}

.eyes2::before,
.eyes2:after {
	content: '';
	position: absolute;
	background-color: blue;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	top: 25px;
	left: 5px;
	z-index: 99;
}

.eyes2::after {
	left: 30px;
}

.skirt2,
.skirt2::before,
.skirt2::after {
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px#333;
	border-top-color: transparent;
	bottom: -10px;
}

.skirt2::before {
	content: '';
	left: 10px;
}

.skirt2::after {
	content: '';
	left: 30px;
}
/* Inky ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.path3 {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.path3::after {
	content: '';
	position: absolute;
	display: block;
	border-top: 12px dotted #fff;
	width: 90%;
	top: 50%;
	left: 5%;
	margin-top: -6px;
}

.pacman3 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: -20%;
	animation: moveForward 4s linear infinite;
	animation-delay: .7s;
}

.pacman3::before,
.pacman3::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: solid 30px yellow;
	margin-top: -30px;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: mouthTop 0.7s ease infinite;
}

.pacman3::after {
	border-color: yellow;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: mouthBottom 0.7s ease infinite;
}

.ghost3 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 20%;
	width: 60px;
	height: 70px;
	margin-top: -35px;
	background-color: cyan;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	animation: moveForward 4s linear infinite, 0.4s linear infinite;
}

.ghost3::before,
.ghost3::after {
	content: '';
	position: absolute;
	background-color: white;
	width: 20px;
	height: 25px;
	border-radius: 100%;
	top: 15px;
	left: 4px;
}

.ghost3::after {
	left: 28px;
}

.eyes3::before,
.eyes3:after {
	content: '';
	position: absolute;
	background-color: blue;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	top: 25px;
	left: 5px;
	z-index: 99;
}

.eyes3::after {
	left: 30px;
}

.skirt3,
.skirt3::before,
.skirt3::after {
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px#333;
	border-top-color: transparent;
	bottom: -10px;
}

.skirt3::before {
	content: '';
	left: 10px;
}

.skirt3::after {
	content: '';
	left: 30px;
}
/* Clyde ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.path4 {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.path4::after {
	content: '';
	position: absolute;
	display: block;
	border-top: 12px dotted #fff;
	width: 90%;
	top: 50%;
	left: 5%;
	margin-top: -6px;
}

.pacman4 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: -20%;
	animation: moveForward 3s linear infinite;
	animation-delay: .5s;
}

.pacman4::before,
.pacman4::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: solid 30px yellow;
	margin-top: -30px;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: mouthTop 0.7s ease infinite;
}

.pacman4::after {
	border-color: yellow;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: mouthBottom 0.7s ease infinite;
}

.ghost4 {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 20%;
	width: 60px;
	height: 70px;
	margin-top: -35px;
	background-color: orange;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	animation: moveForward 3s linear infinite, .4s linear infinite;
}

.ghost4::before,
.ghost4::after {
	content: '';
	position: absolute;
	background-color: white;
	width: 20px;
	height: 25px;
	border-radius: 100%;
	top: 15px;
	left: 4px;
}

.ghost4::after {
	left: 28px;
}

.eyes4::before,
.eyes4:after {
	content: '';
	position: absolute;
	background-color: blue;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	top: 25px;
	left: 5px;
	z-index: 99;
}

.eyes4::after {
	left: 30px;
}

.skirt4,
.skirt4::before,
.skirt4::after {
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px#333;
	border-top-color: transparent;
	bottom: -10px;
}

.skirt4::before {
	content: '';
	left: 10px;
}

.skirt4::after {
	content: '';
	left: 30px;
}


/* Orignal Working Code ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.gameArea {
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 4px red solid;
    margin: 20px auto;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    border-bottom: 4px solid red;
    font-weight: bold;
    line-height: normal;
    margin-top: -5px;
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    border-bottom: 4px solid red;
    font-weight: bold;
    line-height: normal;
    margin-top: -500px;
*/