* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.home-container {
	width: 100%;
	height: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.home-title-container {
	text-align: center;
	margin-bottom: 100px;
	color: yellow;
}

.home-buttons-container {
	display: flex;
	margin-top: 100px;
}

.home-start-button,
.home-howTo-button {
	background-color: red;
	padding: 10px 20px;
	font-size: 18px;
	margin: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.home-start-button:hover,
.home-howTo-button:hover {
	background-color: darkred;
}

.path {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.dots {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.dots .dot {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	filter: drop-shadow(0 0 5px #ccc);
}

.pacman {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: -20%;
	animation: moveForward 5s linear;
	animation-delay: 1s;
}

.pacman::before,
.pacman::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border: solid 30px yellow;
	margin-top: -30px;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: mouthTop 0.5s ease infinite;
}

.pacman::after {
	border-color: yellow;
	border-right-color: transparent;
	border-top-color: transparent;
	animation: mouthBottom 0.5s ease infinite;
}

.ghost {
	position: absolute;
	z-index: 99;
	top: 50%;
	right: -20%;
	width: 60px;
	height: 70px;
	margin-top: -35px;
	background-color: red;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	animation: moveGhost 6s linear, blinking 0.4s linear infinite;
	animation-delay: 2.5s;
}

.ghost::before,
.ghost::after,
.ghost2::before,
.ghost2::after {
	content: '';
	position: absolute;
	background-color: white;
	width: 20px;
	height: 25px;
	border-radius: 100%;
	top: 15px;
	left: 4px;
}

.ghost::after,
.ghost2::after {
	left: 28px;
}

.floating-ghost {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 50%;
}

.floating-ghost .ghost {
	position: absolute;
	background-color: red;
	width: 60px;
	height: 70px;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: moveGhost 6s linear 2.5s infinite, blinking 0.4s linear infinite,
		bouncing 1s ease-in-out infinite;
	right: 50%;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
}

.floating-ghost .ghost2 {
	position: absolute;
	background-color: cyan;
	width: 60px;
	height: 70px;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: moveGhost 6s linear 2.5s infinite, blinking 0.4s linear infinite,
		bouncing 1s ease-in-out infinite;
	right: 50%;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
}

.arrows {
    background-image: url("../assets/Keyboard keys (transparent)arrows.png");
}

.floating-ghost .ghost:hover,
.floating-ghost .ghost2:hover {
	animation-play-state: paused; /* Optional: Pauses the animation on hover */
}
.floating-ghost .ghost {
	margin-right: 40px;
}

.floating-ghost .ghost2 {
	left: 50px;
}

.eyes::before,
.eyes:after {
	content: '';
	position: absolute;
	background-color: blue;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	top: 25px;
	left: 5px;
	z-index: 99;
}

.eyes::after {
	left: 30px;
}

.skirt,
.skirt::before,
.skirt::after {
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px #333;
	border-top-color: transparent;
	bottom: -10px;
}

.skirt::before,
.floating-ghost .skirt::before {
	content: '';
	left: 10px;
}
.skirt::after {
	content: '';
	left: 30px;
}

.floating-ghost .skirt,
.floating-ghost .skirt::before,
.floating-ghost .skirt::after {
	position: absolute;
	width: 0;
	height: 0;
	border: solid 10px black;
	border-top-color: transparent;
	bottom: -10px;
}

.floating-ghost .skirt::after {
	content: '';
	left: -30px;
}

@media (max-width: 600px) {
	.home-buttons-container {
		flex-direction: column;
		align-items: center;
	}
}

@keyframes moveForward {
	0% {
		left: -20%;
		transform: rotate(0deg);
	}
	40% {
		transform: rotateY(0deg);
	}
	50% {
		left: 50%;
		transform: rotateY(180deg);
	}
	100% {
		left: 0%;
		transform: rotateY(180deg);
	}
}

@keyframes moveGhost {
	0% {
		right: -20%;
	}
	100% {
		right: 100%;
	}
}

@keyframes mouthTop {
	50% {
		transform: rotate(44deg);
	}
}

@keyframes mouthBottom {
	50% {
		transform: rotate(-44deg);
	}
}

@keyframes bouncing {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}
